.service-wrap {
  border-radius: 5px;
  position: relative;
}
.t-1-wrapper,
.t-2-wrapper,
.t-3-wrapper.t-4-wrapper {
  position: relative;
  margin-bottom: 25px;
}
.t-1,
.t-2,
.t-3,
.t-4 {
  display: block;
  text-align: center;
  color: $bg-white;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  padding-top: 50px;
  padding-bottom: 50px;

  h3 {
    color: $bg-white;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1);
  }
}
.card-content {
  padding: 10px;
}
// sunset
.t-1 {
  background-image: url("../img/placeholder/720X405.jpg");
  background-position: center center;
  background-color: black;
  background-size: cover;
}

// island
.t-2 {
  background-image: url("../img/placeholder/720X405.jpg");
  background-color: black;
  background-position: center center;
  background-size: cover;
}
// lim
.t-3 {
  background-image: url("../img/placeholder/720X405.jpg");
  background-color: black;
  background-position: center center;
  background-size: cover;
}
