//colors
$primary:rgba(0,0,0,0.87);
$second:rgba(0,0,0,0.54);
$third:rgba(0,0,0,0.38);
$bg-grey-strong:#E0E0E0;
$main-blue:#0f3756;
$light-blue:#bbd9ee;
$torkis-blue:#89e9f8;
$water-blue:rgba(0, 210, 255, 0.5);
$facebook-blue:#3b5998;
$main-orange:#fcb61d;
$bg-grey-light:#F5F5F5;
$bg-grey-lighter:#FAFAFA;
$bg-white:#FFFFFF;
$blue-white-gradient:linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
$Vital-Ocean-gradinet:linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
$blue-green-gradient:linear-gradient(15deg, #000851 0%, #1CB5E0 100%);


